.nav-link{
    color: white;
}
.active{
    background-color: #1ABC9C;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
}
.line{
    width: 80px;
    background-color: white;
    height: 5px;
}
.img-layer{
    background-color:rgba(26, 188, 156, 0.5);
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}
.img-card:hover .img-layer{
    opacity: 1;
}
/* body{
    background-color: #1ABC9C;
} */