.nav-link{
    color: white;
}
.active{
    background-color: #1ABC9C;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
}
.line{
    width: 80px;
    background-color: white;
    height: 5px;
}